{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Concern</title>
  </head>
  <body>
    <div id="eto">
      <div
        hx-target="this"
        hx-swap="outerHTML"
        class="mt-3 py-3 px-3 bg-white shadow border border-gray-100"
      >
        <form method="POST">
          {% csrf_token %} {{ form|crispy }} {% if concerns %}
          <button
            type="submit"
            hx-post="{% url 'update-concern' concerns.id %}"
            class="
              inline-flex
              items-center
              px-3
              py-2
              border border-transparent
              rounded-md
              shadow-sm
              text-sm
              font-medium
              text-white
              bg-green-400
              hover:bg-green-500
              focus:outline-none
              focus:ring-2
              focus:ring-offset-2
              focus:ring-green-500
            "
          >
            Submit
          </button>
          <button
            hx-get="{% url 'concern-detail' concerns.id %}"
            class="
              ml-2
              inline-flex
              items-center
              px-3
              py-2
              border border-gray-300
              shadow-sm
              text-sm
              font-medium
              rounded-md
              text-white
              bg-red-400
              hover:bg-red-500
              focus:outline-none
              focus:ring-2
              focus:ring-offset-2
              focus:ring-indigo-500
            "
          >
            Cancel
          </button>
          {% else %}
          <button
            hx-post="."
            class="
              inline-flex
              items-center
              px-3
              py-2
              border border-transparent
              rounded-md
              shadow-sm
              text-sm
              font-medium
              text-gray-900
              bg-green-200
              hover:bg-green-300
              focus:outline-none
              focus:ring-2
              focus:ring-offset-2
              focus:ring-green-500
            "
          >
            Submit
          </button>
          <button
            hx-post="{% url 'empty' %}"
            hx-swap="outerHTML"
            class="
              inline-flex
              items-center
              px-3
              py-2
              border border-transparent
              rounded-md
              shadow-sm
              text-sm
              font-medium
              text-white
              bg-indigo-600
              hover:bg-indigo-700
              focus:outline-none
              focus:ring-2
              focus:ring-offset-2
              focus:ring-indigo-500
            "
          >
            Cancel
          </button>

          {% endif %}
        </form>
      </div>
    </div>
  </body>
</html>
